<ion-toolbar color="primary">
  <ion-title>
    Lista Medicos
  </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon slot="end" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let m of medicos">
      <ion-item>
        <ion-label>
          <h3>{{m.Nombres}}</h3>
          <p>{{m.Apellidos}}</p> 
        </ion-label>
        <ion-label> 
          <p>{{m.Correo}}</p> 
         </ion-label>
          <ion-label>
             <p>Especialidad</p> 
           </ion-label>
    </ion-item>
      <ion-item-options side="end">
      <ion-item-option (click)="crearmedico(m._id)">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="delete(m._id)">Eliminar</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>