<ion-toolbar color="primary">
    <ion-title>
      Lista Citas
    </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closemodal()">
          <ion-icon slot="end" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
  
  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let c of cita">
        <ion-item>
          <ion-label>
            <h3>{{c.Nombres}}</h3>
            <p>{{c.Apellidos}}</p> 
          </ion-label>
          <ion-label> 
            <p>{{c.Fecha}}</p> 
           </ion-label>
           <ion-label> 
            <p>Consultorio</p> 
           </ion-label>
        </ion-item>
        <ion-item-options side="end">
        <ion-item-option (click)="crearcita(c._id)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="delete(c._id)">Eliminar</ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>