<ion-toolbar color="primary">
  <ion-title>
    Crear Medicos
  </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon slot="end" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
</ion-toolbar>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input ngDefaultControl type="text" required formControlName="Nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input ngDefaultControl  type="text" required formControlName="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input ngDefaultControl type="text" required formControlName="Correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Especialidad</ion-label>
      <ion-select ngDefaultControl type="text" required formControlName="Especialidad">
        <ion-select-option *ngFor="let c of especialidad" value="{{c._id}}">{{c.Nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="save()" expand="block"  shape="round" [disabled]="!form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>