<ion-toolbar color="primary">
  <ion-title>
    Cita
  </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closemodal()">
        <ion-icon slot="end" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
</ion-toolbar>

<ion-content>
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input ngDefaultControl type="text" required formControlName="Nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input ngDefaultControl  type="text" required formControlName="Apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input ngDefaultControl type="text" required formControlName="Telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direcion</ion-label>
      <ion-input ngDefaultControl  type="text" required formControlName="Direccion"></ion-input>
    </ion-item>
      <ion-item button="true" id="open-date-input-2">
        <ion-label >Fecha</ion-label>
        <ion-input  ngDefaultControl  type="text" required formControlName="Fecha" [value]="dateValue2"></ion-input>
        <ion-icon icon="calendar"></ion-icon>
        <ion-modal trigger="open-date-input-2" >
          <ng-template>
            <ion-datetime 
              #popoverDatetime2 
              (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
              minuteValues="0,15,30,45"
            >
          </ion-datetime>
            <ion-button (click)="closemodal()">Aceptar</ion-button>
          </ng-template>
        </ion-modal>
      </ion-item>
    <ion-item>
      <ion-label position="floating">Medico</ion-label>
      <ion-select ngDefaultControl type="text" required formControlName="Medico">
        <ion-select-option *ngFor="let c of medico" value="{{c._id}}">{{c.Nombres}} {{c.Apellidos}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="save()" expand="block"  shape="round" [disabled]="!form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>