<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Medicos</ion-title>
      <ion-button (click)="crearmedico()" slot="end">
          <ion-icon  slot="icon-only"  name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let m of medicos,let index=i">
      <ion-item>
        <ion-label>
          <h3>{{m.Nombres}}</h3>
        </ion-label>
        <ion-label> 
          <p>{{m.Apellidos}}</p> 
         </ion-label>
         <ion-label> 
          <p>{{m.Correo}}</p> 
         </ion-label>
         
      </ion-item>
      <ion-item-options side="end">
      <ion-item-option (click)="crearmedico(m._id)">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="delete(m._id,index)">Eliminar</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
