<ion-header>
  <ion-title><h2>Medicos</h2></ion-title>
  <ion-toolbar color="primary">
    <ion-title>Lista Medicos</ion-title>
      <ion-button (click)="listarmedico()" slot="end">
          <ion-icon  slot="icon-only"  name="list-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Agregar Medicos</ion-title>
        <ion-button (click)="crearmedico()" slot="end">
            <ion-icon  slot="icon-only"  name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-title ><h2>Citas</h2></ion-title>
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Solicitar Cita</ion-title>
        <ion-button (click)="crearcita()" slot="end">
            <ion-icon  slot="icon-only"  name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Listar Citas</ion-title>
        <ion-button (click)="listarcita()" slot="end">
            <ion-icon  slot="icon-only"  name="list-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
</ion-header>

