<ion-header>
  <ion-toolbar>
    <ion-title>Medicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h3>Nombres</h3>
        </ion-label>
        <ion-label> 
          <p>Apellido</p> 
         </ion-label>
         <ion-label> 
          <p>Correo</p> 
         </ion-label>
        
      </ion-item>
      <ion-item-options side="end">
      <ion-item-option (click)="null">Editar</ion-item-option>
      <ion-item-option color="danger" (click)="null">Eliminar</ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
